@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #f2f9ff;
  --color-foreground: #444444;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #608BC1;
  --color-sidebar-border: #133E87;
  --color-sidebar-accent-foreground: #133E87;
  --color-sidebar-accent: #608BC1;
  --color-sidebar-primary-foreground: #F3F3E0;
  --color-sidebar-primary: #133E87;
  --color-sidebar-foreground: #133E87;
  --color-sidebar: #F3F3E0;
  --color-chart-5: #133E87;
  --color-chart-4: #608BC1;
  --color-chart-3: #CBDCEB;
  --color-chart-2: #608BC1;
  --color-chart-1: #F3F3E0;
  --color-ring: #608BC1;
  --color-input: #CBDCEB;
  --color-border: #133E87;
  --color-destructive: #133E87;
  --color-accent-foreground: #133E87;
  --color-accent: #608BC1;
  --color-muted-foreground: #777;
  --color-muted: #CBDCEB;
  --color-secondary-foreground: #133E87;
  --color-secondary: #CBDCEB;
  --color-primary-foreground: #F3F3E0;
  --color-primary: #133E87;
  --color-popover-foreground: #133E87;
  --color-popover: #CBDCEB;
  --color-card-foreground: #133E87;
  --color-card: #F2F9FF;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

.dark {
  --background: #133E87;
  --foreground: #F3F3E0;
  --card: #133E87;
  --card-foreground: #F3F3E0;
  --popover: #133E87;
  --popover-foreground: #F3F3E0;
  --primary: #608BC1;
  --primary-foreground: #F3F3E0;
  --secondary: #CBDCEB;
  --secondary-foreground: #133E87;
  --muted: #f7fbff;
  --muted-foreground: #133E87;
  --accent: #608BC1;
  --accent-foreground: #F3F3E0;
  --destructive: #133E87;
  --border: #F3F3E0;
  --input: #CBDCEB;
  --ring: #608BC1;
  --chart-1: #CBDCEB;
  --chart-2: #608BC1;
  --chart-3: #133E87;
  --chart-4: #CBDCEB;
  --chart-5: #133E87;
  --sidebar: #133E87;
  --sidebar-foreground: #F3F3E0;
  --sidebar-primary: #608BC1;
  --sidebar-primary-foreground: #F3F3E0;
  --sidebar-accent: #CBDCEB;
  --sidebar-accent-foreground: #133E87;
  --sidebar-border: #F3F3E0;
  --sidebar-ring: #608BC1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
