@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme inline {
  --color-background: #fff;
  --color-foreground: #444444;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #608bc1;
  --color-sidebar-border: #133e87;
  --color-sidebar-accent-foreground: #133e87;
  --color-sidebar-accent: #608bc1;
  --color-sidebar-primary-foreground: #f3f3e0;
  --color-sidebar-primary: #133e87;
  --color-sidebar-foreground: #133e87;
  --color-sidebar: #e8f2fd;
  --color-chart-5: #133e87;
  --color-chart-4: #608bc1;
  --color-chart-3: #cbdceb;
  --color-chart-2: #608bc1;
  --color-chart-1: #f3f3e0;
  --color-ring: #608bc1;
  --color-input: #cbdceb;
  --color-border: #cbdceb;
  --color-destructive: #eb6960;
  --color-accent-foreground: #133e87;
  --color-accent: #d9e8f8;
  --color-muted-foreground: #666;
  --color-muted: #cbdceb;
  --color-secondary-foreground: #133e87;
  --color-secondary: #cbdceb;
  --color-primary-foreground: #f3f3e0;
  --color-primary: #14151a;
  --color-popover-foreground: #133e87;
  --color-popover: #f2f9ff;
  --color-card-foreground: #133e87;
  --color-card: #fff;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

.dark {
  --background: #133e87;
  --foreground: #f3f3e0;
  --card: #133e87;
  --card-foreground: #f3f3e0;
  --popover: #133e87;
  --popover-foreground: #f3f3e0;
  --primary: #608bc1;
  --primary-foreground: #f3f3e0;
  --secondary: #cbdceb;
  --secondary-foreground: #133e87;
  --muted: #f7fbff;
  --muted-foreground: #133e87;
  --accent: #608bc1;
  --accent-foreground: #f3f3e0;
  --destructive: #eb6960;
  --border: #f3f3e0;
  --input: #cbdceb;
  --ring: #608bc1;
  --chart-1: #cbdceb;
  --chart-2: #608bc1;
  --chart-3: #133e87;
  --chart-4: #cbdceb;
  --chart-5: #133e87;
  --sidebar: #133e87;
  --sidebar-foreground: #f3f3e0;
  --sidebar-primary: #608bc1;
  --sidebar-primary-foreground: #f3f3e0;
  --sidebar-accent: #cbdceb;
  --sidebar-accent-foreground: #133e87;
  --sidebar-border: #f3f3e0;
  --sidebar-ring: #608bc1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    height: 100vh;
  }
  button {
    cursor: pointer;
  }
  .wrapper {
    background: var(--color-white);
    padding: 2.5rem;
    border-radius: 1rem;
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 1.25rem;
    }
  }
}
